#grid{
	display:grid;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-rows:124px 124px 124px 124px 124px;
	gap:5px;
	height:100vh;
	background:white;
}

#grid>div{
	background: green;
  color: white;
  font-size: 4vw;

}
#grid>div:nth-child(1){
	grid-column:span 4/auto;
	background: green;
}
#grid>div:nth-child(2){
	
	grid-row:span 4/auto;
	background: green;
}

#grid>div:nth-child(4) {
  grid-column: span 2/auto;
 background: green;
}
#grid>div:nth-child(5) {
  grid-column:span 2 / auto;
  background: green;
}
#grid>div:nth-child(10) {
  grid-column: span 3 / auto;
	background: green;
}