.container{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:auto auto auto auto auto;
	gap:5px;
	height:100vh;
	background:white;
}
.item{
	padding:10px;
background: green;
  color: white;
  font-size: 4vw;

}
.item1{
	grid-column:1/5;
	background: green;
}
.item2{
	
	grid-row:2/6;
	background: green;
}

.item4 {
  grid-column: 3 / 5;
 background: green;
}

.item5 {
  grid-column: 2 / 4;
  background: green;
}
/* .item6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item7 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.item8 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
.item9 {
  grid-column: 4 / 4;
  grid-row: 4 / 5;
} */

.item10 {
  grid-column: 2 / 5;
	background: green;
}