#grid{
	display:grid;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-rows:124px 124px 124px 124px 124px;
	gap:5px;
	height:100vh;
	background:white;
}

#grid>div{
	padding:10px;
background: green;
  color: white;
  font-size: 4vw;

}
#grid>div:nth-child(1){
	grid-column:1/5;
	background: green;
}
#grid>div:nth-child(2){
	
	grid-row:2/6;
	background: green;
}

#grid>div:nth-child(4) {
  grid-column: 3 / 5;
 background: green;
}
#grid>div:nth-child(5) {
  grid-column: 2 / 4;
  background: green;
}
#grid>div:nth-child(10) {
  grid-column: 2 / 5;
	background: green;
}